numpy
pymongo
pgvector
asyncpg
psycopg2-binary
sqlalchemy[asyncio]
async-sqlalchemy
python-pptx
tc-neo4j-lib
google-api-python-client
unstructured
cohere==4.56
neo4j>=5.14.1, <6.0.0
coverage>=7.3.3, <8.0.0
pytest>=7.4.3, <8.0.0
python-dotenv>=1.0.0, <2.0.0
urlextract==1.8.0
tc-hivemind-backend==1.1.5
traceloop-sdk==0.14.1
beautifulsoup4==4.12.3
